---
import { getCollection } from "astro:content";
import Layout from "../layouts/MainLayout.astro";
import { sanitizeVideoDescription } from "../utils/youtube-utils";

const videos = await getCollection("nickytLiveEpisodes");

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=0, must-revalidate"
);
Astro.response.headers.set(
  "Netlify-CDN-Cache-Control",
  "public, max-age=172800, must-revalidate"
);
---

<Layout title="Nick Taylor's live streaming homepage">
  <main id="main" class="mt-4 md:mt-8 lg:mt-16 sm:text-base md:text-3xl">
    <div class="grid gap-8 lg:gap-12">
      <h1>Past Streams</h1>
      <p>
        View more of the back catalogue on <a
          href="https://youtube.com/@nickytonline">youtube.com/@nickytonline</a
        >
      </p>
      {
        videos.map((episode) => {
          const { data } = episode;
          const description = data.description ?? data.meta.description ?? "";

          return (
            <article class="grid md:grid-cols-[480px,1fr] gap-6 mb-6">
              <a href={data.link}>
                <img
                  src={data.image.url}
                  alt={data.title}
                  class="my-2 rounded-md w-[240px] md:w-[480px] aspect-auto border border-pink-300"
                />
              </a>
              <div class="flex flex-col gap-4 w-max[480px] md:max-w-[65ch]">
                <h2>{data.title}</h2>
                <div
                  style="word-break: break-all"
                  class="prose"
                  set:html={sanitizeVideoDescription(description)}
                />
                <a href={data.link}>Watch on YouTube</a>
              </div>
            </article>
          );
        })
      }
      <p>
        View more of the back catalogue on <a
          href="https://youtube.com/@nickytonline">youtube.com/@nickytonline</a
        >
      </p>
    </div>
  </main>
</Layout>
