---
import { getCollection } from "astro:content";
import MainLayout from "../layouts/MainLayout.astro";

const posts = await getCollection("blog", ({ data }) => !data.draft);
---

<MainLayout title="Blog | Nickyt.live">
  <h1>Blog</h1>
  <ul style="list-style: none; padding: 0;">
    {
      posts
        .sort((a, b) => b.data.date.getTime() - a.data.date.getTime())
        .map((post) => (
          <li style="margin-bottom: 2.5rem; border-bottom: 1px solid #eee; padding-bottom: 2rem;">
            {post.data.cover_image && (
              <a href={`/blog/${post.slug}/`} aria-hidden="true">
                <img
                  src={post.data.cover_image}
                  alt={post.data.title}
                  class="hidden md:block w-1/2 max-w-[200px] lg:max-w-[400px] aspect-auto mb-4 rounded"
                  width={861}
                  height={361}
                />
              </a>
            )}
            <h2 style="margin: 0 0 0.5rem 0;">
              <a href={`/blog/${post.slug}/`}>{post.data.title}</a>
            </h2>
            <time datetime={post.data.date.toISOString()}>
              {post.data.date.toLocaleDateString("en-US", {
                weekday: "long",
                year: "numeric",
                month: "long",
                day: "numeric",
              })}
            </time>
            {post.data.description && (
              <p style="margin-top: 0.5rem; color: #444;">
                {post.data.description}
              </p>
            )}
            {post.data.tags && post.data.tags.length > 0 && (
              <ul class="mt-2 flex gap-2">
                {post.data.tags.map((tag) => (
                  <li>
                    <a
                      href={`/tags/${encodeURIComponent(tag)}/`}
                      class="bg-pink-600 text-white px-2 py-1 rounded"
                    >
                      {tag}
                    </a>
                  </li>
                ))}
              </ul>
            )}
          </li>
        ))
    }
  </ul>
</MainLayout>
