---
import Layout from "../layouts/MainLayout.astro";
import {
  getVideos,
  sanitizeVideoDescription,
  NICKYT_LIVE_PLAYLIST_FEED_URL,
  getYouTubeId,
} from "../utils/youtube-utils";

const videos = await getVideos(NICKYT_LIVE_PLAYLIST_FEED_URL);

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=0, must-revalidate"
);
Astro.response.headers.set(
  "Netlify-CDN-Cache-Control",
  "public, max-age=14400, must-revalidate"
);
---

<Layout title="Nick Taylor's live streaming homepage">
  <main class="mt-4 md:mt-8 lg:mt-16 sm:text-xl md:text-3xl">
    <div class="grid gap-8">
      <h1>Latest Videos</h1>
      {
        videos.map((video) => {
          const videoId = getYouTubeId(video.link);

          return (
            <article class="grid lg:grid-cols-[480px,1fr] gap-6">
              <a href={video.link}>
                <!-- TODO: make the slate pink once latest thumbnails are all pink bg. -->
                <img
                  src={`https://img.youtube.com/vi/${videoId}/maxresdefault.jpg`}
                  alt={video.title}
                  class="my-2 rounded-md w-[270px] md:w-[540px] aspect-video border border-pink-300"
                />
              </a>
              <div class="flex flex-col gap-4 w-max[480px] md:max-w-[65ch]">
                <h2>{video.title}</h2>
                <p set:html={sanitizeVideoDescription(video.description)} />
                <a href={video.link}>Watch on YouTube</a>
              </div>
            </article>
          );
        })
      }
    </div>
  </main>
</Layout>
