---
import Layout from "../layouts/MainLayout.astro";
import {
  getVideos,
  sanitizeVideoDescription,
  POMERIUM_LIVE_PLAYLIST_FEED_URL,
  getYouTubeId,
} from "../utils/youtube-utils";

const videos = await getVideos({videoFeedUrl: POMERIUM_LIVE_PLAYLIST_FEED_URL, numberOfVideos:15, descendingDate: true});

Astro.response.headers.set(
  "Cache-Control",
  "public, max-age=0, must-revalidate"
);
Astro.response.headers.set(
  "Netlify-CDN-Cache-Control",
  "public, max-age=608400, must-revalidate"
);
---

<Layout title="Nick Taylor's live streaming homepage">
  <main id="main" class="mt-4 md:mt-8 lg:mt-16 sm:text-basemd:text-3xl">
    <div class="grid gap-8 lg:gap-12">
      <h1>Pomerium Live</h1>
      <p>View more of the back catalogue on <a href="https://www.youtube.com/@pomerium_io">Pomerium's YouTube channel</a></p>
      {
        videos.map((video) => {
          const videoId = getYouTubeId(video.link);

          return (
            <article class="grid lg:grid-cols-[480px,1fr] gap-6 mb-6">
              <a href={video.link}>
                <!-- TODO: make the slate pink once latest thumbnails are all pink bg. -->
                <img
                  src={`https://img.youtube.com/vi/${videoId}/hqdefault.jpg`}
                  alt={video.title}
                  class="my-2 rounded-md w-[240px] md:w-[480px] aspect-auto border"
                />
              </a>
              <div class="flex flex-col gap-4 max-w-[65ch]">
                <h2>{video.title}</h2>
                <p class="prose max-w-prose" set:html={sanitizeVideoDescription(video.description)} />
                <a href={video.link}>Watch on YouTube</a>
              </div>
            </article>
          );
        })
      }
      <p>View more of the back catalogue on <a href="https://www.youtube.com/@pomerium_io">Pomerium's YouTube channel</a></p>
    </div>
  </main>
</Layout>
